## Task 1

In [19]:
import glob
import pandas as pd
import numpy as np

In [20]:
files = glob.glob("*")
files

['Test 1 - FedEx CSV Selectable Codes Dictionary (June _17).xls',
 'Test 1 - FedEx Datatype Dictionary.xlsx',
 'Untitled.ipynb',
 'Test 2 - DHL Shipments Report.xlsx',
 'ex.JPG',
 'Test 1 - CSV.xlsx',
 'Test 1 - FedEx Invoice 40519522111813.csv']

In [21]:
df =  pd.read_excel('Test 1 - CSV.xlsx')

In [22]:
df.head()

,Master EDI No,Invoice Number,Invoice Date,Type,Settle,Inv Charge,Trans Cnt,Bill-To Account,Cntry,Total VAT Amt,...,Orig Recip Adr 1,Orig Recip Adr 2,Original City,ST3,Postal3,VAT No,FedEx VAT No,Cross Ref No,Intl Ground Ship No,
0,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
1,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
2,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
3,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
4,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...

## Task 2