# Task 1

In [76]:
import glob
import pandas as pd
import numpy as np

### List of files path
List all files name in the current directory

In [77]:
files = glob.glob("*")
files

['Tasks.ipynb',
 'Test 1 - FedEx CSV Selectable Codes Dictionary (June _17).xls',
 'Test 1 - FedEx Datatype Dictionary.xlsx',
 'Test 2 - DHL Shipments Report.xlsx',
 'ex.JPG',
 'Test 1 - CSV.xlsx',
 'Test 1 - FedEx Invoice 40519522111813.csv']

### Load dataframe
Load the data using the file name

In [78]:
df =  pd.read_excel('Test 1 - CSV.xlsx')

In [79]:
df.head()

,Master EDI No,Invoice Number,Invoice Date,Type,Settle,Inv Charge,Trans Cnt,Bill-To Account,Cntry,Total VAT Amt,...,Orig Recip Adr 1,Orig Recip Adr 2,Original City,ST3,Postal3,VAT No,FedEx VAT No,Cross Ref No,Intl Ground Ship No,
0,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
1,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
2,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
3,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...
4,887643512,512758053,20190408,O,I,21424.36,47,296159727,DK,521.75,...,NaN,NaN,NaN,NaN,NaN,DK26366313,DK 27 04 31 00,NaN,NaN,...

# Task 2

In [80]:
import mechanize

### Create browser object and open a webpage

In [81]:
url = 'https://dct.dhl.com/#shipping_options'
br = mechanize.Browser()
br.set_handle_robots(False) # ignore robots
br.addheaders = [('User-agent', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Safari/537.36'),
                 ('Accept', 'application/json'), 
                 ('Referer', 'https://dct.dhl.com/'),
                 ('X-Requested-With', 'XMLHttpRequest')]
resp = br.open(url)

### List forms and controls in the page

In [82]:
for form in br.forms():
    print(form.name)

None

In [83]:
br.form = list(br.forms())[0] # form is unnamed
for control in br.form.controls:
    print(f'name: {control.name}, type: {control.type}, value: {control.value}')

name: locale_id, type: text, value:
name: orgCtry, type: text, value:
name: preOrgCtry, type: hidden, value: null
name: orgZip, type: text, value:
name: orgCity, type: text, value:
name: orgSub, type: text, value:
name: check, type: text, value:
name: dstCtry, type: text, value:
name: preDstCtry, type: hidden, value: null
name: dstZip, type: text, value:
name: dstCity, type: text, value:
name: dstSub, type: text, value:
name: shpDate, type: text, value:
name: dtbl, type: checkbox, value: []
name: declVal, type: text, value:
name: declValCur, type: text, value:
name: number_of_pieces, type: text, value:
name: dimUom, type: text, value:
name: wgtUom, type: text, value:
name: weight, type: text, value:
name: length, type: text, value:
name: width, type: text, value:
name: height, type: text, value:

### Search example 1
Fill the fields

In [84]:
control_orgCtry = br.form.find_control('orgCtry')
control_orgCtry.value = 'BRAZIL (BR)'
control_orgCity = br.form.find_control('orgCity')
control_orgCity.value = 'JUIZ DE FORA'
control_dstCtry = br.form.find_control('dstCtry')
control_dstCtry.value = 'CANADA (CA)'
control_dstCity = br.form.find_control('dstCity')
br.form['dstCity'] = 'TORONTO'
print('FROM')
print(f'Origin Country/Region: {control_orgCtry.value}')
print(f'Origin city: {control_orgCity.value}')
print()
print('TO')
print(f'Destination Country/Region: {control_dstCtry.value}')
print(f'Destination city: {control_dstCity.value}')

FROM
Origin Country/Region: BRAZIL (BR)
Origin city: JUIZ DE FORA

TO
Destination Country/Region: CANADA (CA)
Destination city: TORONTO

Search request

In [85]:
response = br.submit()
print(response.read())

b'<html><head><title>Request Rejected</title></head><body>The requested URL was rejected. Please consult with your administrator.<br><br>Your support ID is: 4713007196760748556</body></html>'